/* ----------------------------------------------------------- */
/* COLOR VARIABLES */
/* ----------------------------------------------------------- */

body{
	--primary-color: #da9440;
	--secondary-color: #303030;
	--secondary-alpha-Dot50: rgba(48, 48, 48, 0.5);
	--secondary-alpha-Dot85: rgba(48, 48, 48, 0.85);
}